<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{"Issues Reported by Traders" | translate}} <!-- {{request.attribute.waterpoint_id}} -->
      <small class="pull-right">{{"submitted on" | translate}} {{request._created}}</small></h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th translate>PHONE #</th>
        <th translate>DATE</th>
        <th translate>ISSUE</th>
        <th translate>ISSUE TYPE</th>
        <th translate>LOCATION</th>
        <th translate>AGENCY</th>
        <th translate>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>+255715111222</td>
        <td>02/02/2015</td>
        <td>ABUSE</td>
        <td>TB</td>
        <td>Tunduma</td>
        <td>TanTrade</td>
        <td>Open</td>
      </tr>
      <tr>
        <td>+255715100100</td>
        <td>05/02/2015</td>
        <td>CORRUPTION</td>
        <td>TB</td>
        <td>Tunduma</td>
        <td>TanTrade</td>
        <td>Open</td>
      </tr>
      <tr>
        <td>+255715123456</td>
        <td>12/02/2015</td>
        <td>ABUSE</td>
        <td>TB</td>
        <td>Tunduma</td>
        <td>TanTrade</td>
        <td>Open</td>
      </tr>
      <!-- <tr ng-repeat="(k, v) in request.attribute" ng-if="k!='waterpoint_id'"
        ng-class="{success: request.attribute[k] == waterpoint[k]}">
        <td>{{k}}</td>
        <td>{{k}}</td>
        <td>{{waterpoint[k]}}</td>
        <td>{{request.attribute[k]}}</td>
        <td>
          <input type="checkbox" ng-model="apply[k]" ng-disabled="waterpoint[k] == request.attribute[k]">
        </td>
        <td>
          <input type="checkbox" ng-model="apply[k]" ng-disabled="waterpoint[k] == request.attribute[k]">
        </td>
      </tr> -->
    </tbody>
  </table>
  <!-- <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="issues" class="col-sm-3 control-label" translate>Issue</label>
        <div class="col-sm-9">
          <input ng-model="request.trade_issues" type="text" class="form-control" id="issues" placeholder="{{''|translate}}">
        </div>
      </div>
      <div class="form-group">
        <label for="agencyResponsible" class="col-sm-3 control-label" translate>Agency responsible</label>
        <div class="col-sm-9">
          <input ng-model="request.agency_responsible" type="text" class="form-control" id="agencyResponsible">
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-sm-3 control-label" translate>Location</label>
        <div class="col-sm-9">
          <input ng-model="request.issue_location" type="text" class="form-control" id="location" placeholder="{{''|translate}}">
        </div>
      </div>
      <div class="form-group">
        <label for="issueDateTime" class="col-sm-3 control-label" translate>Issue Date</label>
        <div class="col-sm-9">
          <input ng-model="issue_datetime" type="date" class="form-control" id="issueDateTime">
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-sm-3 control-label" translate>Issue status</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="request.status" id="status"
            ng-options="k for k in ['open', 'closed']"></select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-success" ng-click="saveRequest()" translate>Update Issue</button>
        </div>
      </div>
    </form>
  </div> -->
</div>